p 「人狼物語（薔薇の下国）」中的职业。
h2 特殊能力
p 自身的职业将显示为「村人」。
p 只限一次，能够抵抗人狼的袭击。
p 抵抗了人狼的袭击后，自身将觉醒为「蝴蝶」。
p
  | 一旦觉醒了，自身将变成人狼阵营，并获得与
  a(href="/manual/job/WhisperingMad") 低语狂人
  | 相同的能力。
h2 胜利条件
p 觉醒前：村人阵营的胜利。
p 觉醒后：人狼阵营的胜利。
